* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Avenir", sans-serif;
  font-size: 18px;
  width:100%;
  height: 100%;
}

body {
  width:100%;
  height: 100%;
  background: linear-gradient(180deg, #6262ff, #0d0913);
  background-repeat: no-repeat;
  main {
    width: 90%;
    margin: 0 auto;
    position: relative;
    h1 {
      font-size: 6em;
      color: #FFF;
      text-align: center;
      padding: 20px 0;
      display: none;
    }
    form {
      font-size: 6rem;
      padding-bottom: 20%;
      // position: absolute;
      // top:10%;
      &.submitted {
        animation: fade-in-down .2s ease-out forwards  reverse;
        height: 0;
        padding-bottom: 10%;
      }
      input {
        width: 100%;
        font-size: .5em;
        padding: 20px;
        background:transparent;
        border: none;
        color: white;
        letter-spacing: 2px;
        transition: all .3s;
        &::placeholder {
          color: rgba(255,255,255,.4);
        }
        &:focus{
          background: rgba(0,0,0,0.4);
        }
        &.error {
          border: 1px red solid;
        }

      }
      button {
        width: 100%;
        font-size: .5em;
        color: #FFF;
        padding: 20px;
        border: 2px solid #FFF;
        background: transparent;

      }
    }
    .weather-svg {
      opacity:0;
      // position: relative;
      h1 {
        display:block;
      }
      &.showing {
        // opacity: 1;
        animation: fade-in .5s ease-in .5s forwards;
      }
      .weather-groups {
        display: flex;
        justify-content: flex-end;
        .sun {
          // opacity:0;
          // position: absolute;
          // right: 0;
          &.showing{
            animation: fade-in-left 10s ease-in infinite forwards;
          }
        }
        .clouds {
          // opacity:0;
          // position: absolute;
          // right: 0;
          &.showing{
            animation: fade-in-left 10.5s ease-in infinite forwards;
          }
        }
      }
    }

    .data {
      opacity:0;
      font-size: 6rem;
      &.submitted {
        animation: fade-in .5s ease-in .2s forwards;
      }
      p {
        font-size: 1em;
        color: #FFF;
        &.error {
          font-size: .5em;
        }
      }
    }
    
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left{
  0% {
    // opacity: 0;
    transform: translateX(0);
  }

  50% {
    // opacity: 1;
    transform: translateX(25px);
  }

  100% {
    // opacity: 0;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
